# Scan output
AWSAuditScanner/output/
anonymization-map*.json
**/anonymization-map*.json
AWSAuditScanner/NET.ps1_bkp.ps1
AuditScanner*.zip

# AWS / local secrets
.env
*.pem
credentials


# Python
__pycache__/
*.py[cod]
.venv/